@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.connect-wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

.logo img {
    height: 50px;
}

.title {
    margin: 0;
    flex-grow: 1;
    text-align: left;
}

.wallet-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.balance {
    font-size: 14px;
    color: #ddd;
}

.connect-button {
    padding: 8px 16px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.connect-button:hover {
    background-color: #0056b3;
}

.connect-button.wrongNetwork {
    background-color: #970714;
}


.connect-button.connected {
    background-color: #15b52f;
}