.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 1; /* Контент займет всё доступное пространство */
}

.sidebar-container {
    flex: 1;
    margin-right: 2vh; /* Добавляем отступ справа, чтобы оставить пространство между Sidebar и GamePage */
}

.gamepage-container {
    flex: 4; /* Можно увеличить flex для GamePage, чтобы оно заняло больше места */
    background-color: #ffffff;
    padding: 5vh;
}